*{
	margin: 10px;
	padding: 0;
}

.noborder{
		border: none;
		color: #E7E6E6;

}

.details{
		width: 100%;
		font-size: 15px;
		letter-spacing: .5px;
}

.img-banner{
		width: 100%;
		display: none;
}

.img-personal{
	width: 25%
}
 
.img-info{
	width:100%
	color:#000000;
}

.img-info{
	color:black;
	line-height: 25px;
}

.button {
  border: 2px solid black;
  color: black;
  padding: 10px 15px;
  text-align: center;
  text-decoration: blink;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
}

.img-logo-fb{
		width: 12%;
}
.img-logo-gmail{
		width: 15%;
}
.img-logo-skype{
		width: 11%;
}
.img-logo-linkedin{
		width: 13%;
}

/*education*/

.eddetails{
	text-indent: 10%;
	text-align: justify;
	font-size: 100%;
	letter-spacing: 1px;
	font-family: calibri; 
}

.edbox{
	margin: 10%;
	text-align: justify-all;
	width: 80%;
}


body{
	background-color:#E7E6E6;
}

.edheading{
	font-size: 80%;
}

.list {
	list-style-type: none;
	font-size: 59%;
	letter-spacing:150%;
	line-height: 60%;
}
.listdiv{
width: 100%;
font-size: 130%;
}

.vidsize{
	width: 90%;
}




@media only screen and (min-width: 768px)
{
	.img-banner{
		width: 100%;
		display: block;
		padding:  30px;
	}
	.img-personal{
	width: 10%;
	display:none;
	}
	.img-logo-fb{
		width: 5%;
	}
	.img-logo-gmail{
		width: 7%;
	}
	.img-logo-skype{
		width: 5%;
	}
	.img-logo-linkedin{
		width: 5%;
	}
	.button {
  		border: 2px solid black;
  		color: black;
  		padding: 25px 15px;
  		text-align: center;
  		text-decoration: none;
  		display: inline-block;
  		font-size: 15px;
  		margin: 4px 2px;
  		cursor: pointer;
  		transition: .4s;
	}
	.details{
		width: 100%;
		font-size: 25px;
		letter-spacing: 2px;
	}




	.edheading{
	font-size: 150%;
	}
	.list {
	list-style-type: none;
	font-size: 100%;
	word-spacing: 60%;
	line-height: 100%;
	}
	.listdiv{
	width: 90%;
	font-size: 130%;
	}

	.eddetails{
	text-indent: 10%;
	text-align: justify;
	font-size: 150%;
	letter-spacing: 1px;
	font-family: calibri; 
}
}



